<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .border_box {
            border: 1px solid black;
            color: blue;
        }
    </style>
</head>
<body>

    <h1>PCR 검사소 목록</h1>
    <hr/>

        {{#list}}
        <h2>병원 이름 : {{yadmNm}}</h1>
        <h3>PCR 가능 여부 : {{pcrPsblYn}}</h3>
        <h3>시도 : {{sidoCdNm}}</h3>
        <h3>시군구 : {{sgguCdNm}}</h3>
        <h3>주소 : {{addr}}</h3>
        <hr />
    {{/list}}
    
</body>
</html>