<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .border_box {
            border: 1px solid black;
            color: blue;
        }
    </style>
</head>
<body>

    <h1>PCR 검사소 목록 다운로드</h1>
    <hr/>

    <div id="box">

    </div>

    <form action="/download" method="get">
        <button class="border_box">다운로드</button>
    </form>
    
</body>
</html>